html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #225560;
    color: white;
}

.startCont, .gridCont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nameRequest {
    display: none;
}

.gridCont {
    display: none;
}

.grid {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, 60px) ;
    grid-template-rows: repeat(3, 60px) ;
    margin-bottom: 50px;
}

.cell {
    width: 100%;
    height: 100%;
    text-align: center;
}


.restart {
    display: none;
}

h1 {
    font-family: 'Unbounded', cursive;
    font-size: 70px;
    color: #F3F58F;
    margin-bottom: 100px;
    text-align: center;
}

p {
    font-size: 35px;
}

p, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-size: 50px;
}


button, input {
    border-radius: 4px;
    font-size: 35px;
}

button {
    background-color: #3F868D;
    color: #F3F58F;
    cursor: pointer;
    border: 0;
}

.submit {
    margin-top: 40px;
}
